body{
    scroll-behavior: smooth;
    font-family: 'Baloo Tamma 2', cursive;
    color:#3e3e3ef5;
}
*{
    scroll-behavior: smooth;
}

.pd-main-slider .main-slider .owl-item img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.navbar{
    background:transparent;
}

.navbar .nav-link{
    padding:10px 24px !important;
}

#navbarNav{
    justify-content: center;
}

.navbar .navbar-brand img{
    width:50px;
}


.pd-main-slider .main-slider .owl-item{
    position:relative;
    /* margin-right: 0 !important; */
}

.pd-main-slider .main-slider .owl-item .pd-slid-cont{
    position: absolute;
    z-index: 9;
    bottom: 22%;
    width: 400px;
    margin-left: -200px;
    left: 34%;
}

.pd-main-slider .main-slider .owl-item .pd-slid-cont h4{
    font-size: 55px;
    font-weight: 100;
    margin: 0;
    color: #3e3e3ef5;
    text-transform: uppercase;
    line-height: 75px;
    font-family: 'Roboto', sans-serif;
}

.pd-main-slider .main-slider .owl-item .pd-slid-cont h4 span {
    font-weight: 900;
    color: #864dce;
}

.pd-main-slider .main-slider .owl-item .pd-slid-cont p{
    font-weight: 400;
    margin: 0;
    color: #3e3e3ef5;
    font-size:24px;
    padding-left:5px;
}

.w-w-do-sec{
    padding:5% 0;
}

.w-w-do-sec .pd-img-wwd img{
    width:90%;
}

.w-w-do-sec .row{
    align-items: center;
}

.demo-sec{
    padding:5% 0;
    position: relative;
}

.demo-sec::before{
    content: '';
    position: absolute;
    left: -115px;
    bottom: -160px;
    width: 295px;
    height: 315px;
    background: url(img/video-sec2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: opacity(0.6);
}


.demo-sec .row{
    align-items: center;
}

.demo-sec .row video{
    border-radius: 30px;
    display: none;
    transition: 0.5s;
}

.demo-sec .pd-play .pd-play-border {
    width: 200px;
    display: inline-block;
    border: 2px solid #864dce;
    padding: 70px 26px 27px 40px;
    border-radius: 100%;
    cursor: pointer;
    height: 200px;
}


:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.demo-sec .triangle-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid #864dce;
    border-bottom: 25px solid transparent;
    display: inline-block;
}

.pdbmodel{
    padding:5% 0;
    background: #80808017;
    position: relative;
    overflow: hidden;
}

.pdbmodel::after{
    content: '';
    position: absolute;
    right: -30px;
    bottom: -25px;
    width: 190px;
    height: 275px;
    background: url(img/bmodel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pdbmodel .pd-card{
    margin: 25px; 
    box-shadow: 0px 4px 27px -18px #5c29ff7a  
}

.pdbmodel .pd-card .content-card-top{
    padding:15px 23px;
    background: white;
}

.pdbmodel .pd-card h6{
    margin-bottom: 5px;
    font-weight: 100;
}

.pdbmodel .pd-card h4{
    margin-bottom: 10px;
}

.pdbmodel .pd-card a{
    margin-bottom: 15px;
    display: block;
    font-size: 20px;
    background: #864dce;
    padding: 10px 5px 8px;
    color: white;
    border-radius: 6px;
}

.pdbmodel .pd-card a:hover{
    text-decoration: none;
}

.pdbmodel .pd-card p{
    font-weight: 100;
    font-size:12px;
}

.pdbmodel .pd-card input{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border: 1px solid #80808052;
    padding: 10px 5px;
    border-radius: 6px;
}


.owl-theme .owl-dots .owl-dot span{
    width: 20px !important;
    height: 5px !important;
    background: #864dce8c !important;
    border-radius: 0 !important;
}

.owl-theme .owl-dots .owl-dot.active span{
    background: #864dce !important;
}

button:focus{
    outline: none;
}

.pd-cont-us{
    padding:5% 0;
    position: relative;
}

.pd-cont-us .cont-back{
    position: absolute;
    left: 3%;
    top: 4%;
    width: 50%;

}

.pd-cont-us input,
.pd-cont-us textarea{
    width: 100%;
    margin: 10px 0;
    padding: 10px 10px;
    border: 0px solid #b1b1b136;
    box-shadow: 0px 2px 6px 0px #0000001f;
}

.pd-cont-us a{
    display: inline-block;
    margin-top: 20px;
    background: #864dce;
    color: white;
    padding: 10px 20px 8px;
    transition: 0.5s;
}

.pd-cont-us a:hover{
    transition: 0.5s;
    text-decoration: none;
}

.pd-cont-us .pd-cont-form-card{
    margin: 0px 5%;
    padding: 50px;
    background: #f4f4f442;
    box-shadow: 0px 14px 145px -61px #00000073;
    border: 5px solid #80808005;
    position: relative;
}

.pd-cont-us .pd-cont-form-card::after{
    content: '';
    position: absolute;
    right: -45px;
    bottom: -25px;
    width: 100px;
    height: 185px;
    background: url(img/cont-form-flow-vas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pd-cont-us .pd-cont-form-card::before{
    content: '';
    position: absolute;
    left: -116px;
    bottom: -79px;
    width: 160px;
    height: 300px;
    background: url(img/cont.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pd-footer{
    padding: 8% 0 1%;
    position: relative;
    overflow: hidden;
}

.pd-footer::before{
    content: '';
    position: absolute;
    left: 3%;
    bottom: -79px;
    width: 160px;
    height: 300px;
    background: url(img/foot-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pd-footer::after{
    content: '';
    position: absolute;
    right: 10%;
    bottom: 0%;
    width: 200px;
    height: 300px;
    background: url(img/foot-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.pd-footer .footer-bottom-logo{
    text-align: center;
    padding: 50px 0;
}

.pd-footer .footer-bottom-logo img{
    width:150px;
}

.pd-footer .footer-bottom-logo p{
    padding: 18px 0 0;
    margin-bottom: 0;
}

.pd-footer .pd-fo-q-link a{
    color: inherit;
    display: block;
    transition: 0.5s;
}

.pd-footer .pd-fo-q-link a:hover{
    transition: 0.5s;
    text-decoration: none;
}

.pd-footer .pd-f-cont p{
    margin-bottom: 2px;
}
.pd-footer .pd-subs-us input{
    background: #fff;
    padding: 10px 5px;
    border: 2px solid #dedede;
    width: 70%;
    margin-right: 2px;
}
.pd-footer .pd-subs-us button{
    padding: 10px 5px;
    background: #864dce;
    color: white;
    border: 2px solid #864dce;
    width:28%;
}

.pd-footer .pd-flex-foot{
    display:flex;
}

.pd-main-slider{
    margin-top: 65px;
}

.pd-navigation{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background: white;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0 / 72%);
    font-weight: 500;
}

.pd-vid-play-crd{
    position: relative;
}

.pd-vid-play-crd::after{
    content: '';
    position: absolute;
    right: -100px;
    bottom: -25px;
    width: 190px;
    height: 275px;
    background: url(img/video-back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}








/* ===== media query ==== */
@media (min-width:768px){
    .pd-main-slider .main-slider .owl-item img {
        height:500px;
    }  
}

@media (min-width:1500px){
    .pd-main-slider .main-slider .owl-item img {
        height:600px;
    }  
}

