body{
    scroll-behavior: smooth;
    font-family: 'Baloo Tamma 2', cursive;
    color:#3e3e3ef5;
}

*{
    scroll-behavior: smooth;
}

.pd-main-slider .main-slider .owl-item img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.navbar{
    background:transparent;
}

.navbar .nav-link{
    padding:10px 24px !important;
}

#navbarNav{
    justify-content: center;
}

.navbar .navbar-brand img{
    width:50px;
}


.pd-main-slider .main-slider .owl-item{
    position:relative;
    /* margin-right: 0 !important; */
}

.pd-main-slider .main-slider .owl-item .pd-slid-cont{
    position: absolute;
    z-index: 9;
    bottom: 22%;
    width: 400px;
    margin-left: -200px;
    left: 34%;
}

.pd-main-slider .main-slider .owl-item .pd-slid-cont h4{
    font-size: 55px;
    font-weight: 400;
    margin: 0;
    color: #3e3e3ef5;
    text-transform: uppercase;
    line-height: 55px;
}

.pd-main-slider .main-slider .owl-item .pd-slid-cont p{
    font-weight: 400;
    margin: 0;
    color: #3e3e3ef5;
    font-size:24px;
    padding-left:5px;
}

.w-w-do-sec{
    padding:5% 0;
}

.w-w-do-sec .pd-img-wwd img{
    width:90%;
}

.w-w-do-sec .row{
    align-items: center;
}


/* ===== media query ==== */
@media (min-width:768px){
    .pd-main-slider .main-slider .owl-item img {
        height:500px;
    }  
}

@media (min-width:1500px){
    .pd-main-slider .main-slider .owl-item img {
        height:600px;
    }  
}

